<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>岗位薪资预测</title>
    <link rel="stylesheet" type="text/css" href="../static/css/predict.css">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/vector.js"></script>
    <script type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){
		Victor("container", "output");   //登陆背景函数
	  });
	</script>

    <style>
		ul {
				list-style: none;
			}
			a {
				text-decoration: none;
			}
			/*一级菜单样式, 头部导航栏以及登录注册按钮*/
			.toubu {
				z-index: 1000;
				min-width: 1100px;
				width: 100%;
				height: 50px;
				margin: 0px auto;
				background-color: white;
				font-size: 18px;
				font-family: 微软雅黑;
				position: fixed;
			}
			.toubu ul{
				height: 50px;
			}
		   .toubu ul li {
			   left: 500px;
		        float: left;
		        /*包含块*/
		        position:relative;
		    }
		    .toubu ul li a {
				display: block;
				font-size: 18px;
				width: 160px;
				height: 50px;
				line-height: 46px;
				text-align: center;
				color: black;
		        }

			.toubu ul li a:hover {
				color: black;
			   background-color: aqua;
			}
		/*二级菜单样式*/
		        .toubu ul li ul {
		        position:absolute;
		        top:50px;
		        left:-500px;
		        display:none;

		        }
				.toubu ul li ul li {
				float:none;
				}
				.toubu ul li ul li a{
				background-color: white;
				font-size: 16px;
				color: black;
				/* border-top:1px solid #ccc; */
				}
		            /*一级菜单悬停时二级菜单可见*/
		        .toubu ul li:hover ul {
		        display:block;
		        }
			.img_1{   /*logo图片设置*/
				position: absolute;
				float: left;
				top: 4px;
				left: 250px;
			}
			.logo_1{
				position: absolute;
				float: left;
				top: 9px;
				font-family: "楷体";
				font-size: 25px;
				font-weight: bold;

				left: 335px;
			}

			.containerT1{
			width:800px;
			height:1000px;
			text-align:center;
			position:absolute;
			top: 200px;
			left:38%;
			margin:-150px 0 0 -200px;
			border-radius:3px;
			background-color: azure;
			}
    </style>
</head>
<body >
    <style>.box {  z-index: 999;  }</style>
<div id="container">
	<div id="output">
        <div class="toubu">
		    <ul>
				<a href=""><img src="../static/images/J.png" alt="" class="img_1"  width="70" height="40"/></a>
				<span class="logo_1">就业信息</span>
		        <li><a href="">首页</a>

		        </li>
		        <li><a href="">平台数据展</a>
		            <ul>
		                <li><a href="/test_pic">大数据展示屏</a></li>
		                <li><a href="/job_demand">各岗位技能分析</a></li>
		                <li><a href="/xinzi_bar">薪资职位分析</a></li>
						<li><a href="/pie_bar_test">各地区岗位分析</a></li>
		            </ul>
		        </li>
		        <li><a href="">其他功能</a>
                    <ul>
                        <li><a href="/">岗位薪资预测</a></li>
                    </ul>
                </li>
                <li class="weather"><span id="showTime"></span></li>
                <style>
                    .weather{
                        padding: 15px;
                    }
                </style>
        <script>
            var t = null;
            t = setTimeout(time, 1000);
            function time() {
                clearTimeout(t);
                dt = new Date();
                var y = dt.getFullYear();
                var mt = dt.getMonth() + 1;
                var day = dt.getDate();
                var h = dt.getHours();
                var m = dt.getMinutes();
                var s = dt.getSeconds();
                document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "-" + h + "时" + m + "分" + s + "秒";
                t = setTimeout(time, 1000);
            }
        </script>

		    </ul>
    </div>


    <div class="containerT1">
			<div class="t1">
                <p style="font-size: 16px; padding: 10px; float: left;">其他功能 > 岗位薪资预测</p>
                <br><br><br>
                <hr style="border: 1px dashed gray;"/>
                <br>
                <p style="font-size: 22px;font-family: 宋体;font-weight: 900;color: #000d4a">岗位薪资预测</p>
                <p style="padding: 17px;font-size: 14px">岗位薪资预测是系统平台自动从海量职位数据中分析并预测出与实际薪资水平大抵相同的功能。在选择意向岗位时，若为Java工程师，技能选择2.3.4选项即可；若为python工程师，选择5.6.7即可；若为web工程师，选择8.9.10。以此类推。</p>

				<form method="POST" action="/xinzi_predict">
                    <p style="font-size: 18px; padding: 5px;float: left; width: 300px">1.意向岗位:
                    <select name="job_name" style="font-size: 15px">
            　　　　    <option>Java开发工程师</option>
            　　　　    <option>Python开发工程师</option>
                        <option>web前端开发师</option>
                        <option>算法工程师</option>
             　   　</select></p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">2.是否擅长Java语言：&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="java1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="java1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="java1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">3.是否擅长spring：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="spring1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="spring1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="spring1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">4.是否擅长一门数据库：&nbsp;
                        <input type="radio" name="sql1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="sql1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="sql1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">5.是否擅长Python语言：
                        <input type="radio" name="python1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="python1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="python1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">6.是否擅长Linux技术：&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="linux1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="linux1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="linux1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">7.是否擅长数据采集：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="spider1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="spider1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="spider1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">8.是否擅长html语言：&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="html1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="html1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="html1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">9.是否擅长CSS和JS：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="cssjs1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="cssjs1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="cssjs1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">10.是否擅长Vue：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="vue1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="vue1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="vue1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">11.是否擅长机器学习：&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="jiqi1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="jiqi1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="jiqi1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">12.是否擅长图像处理：&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="tuxiang1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="tuxiang1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="tuxiang1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">13.是否擅长C++：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="C1" value="1">非常熟练&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="C1" value="0">了解一点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="C1" value="0">完全不懂</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">14.最期望去的城市：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="city" value="0,1,0,0,0,0,0">北京&nbsp;&nbsp;
                    <input type="radio" name="city" value="1,0,0,0,0,0,0">上海&nbsp;&nbsp;
                    <input type="radio" name="city" value="0,0,0,1,0,0,0">广州&nbsp;&nbsp;
                    <input type="radio" name="city" value="0,0,0,0,0,0,1">深圳&nbsp;&nbsp;
                    <input type="radio" name="city" value="0,0,0,0,0,1,0">济南&nbsp;&nbsp;
                    <input type="radio" name="city" value="0,0,0,0,1,0,0">武汉&nbsp;&nbsp;
                        <input type="radio" name="city" value="0,0,1,0,0,0,0">天津</p>
                    <p style="font-size: 18px; padding: 20px 0 0 32px;float: left">15.当前最高学历：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="demand" value="0,0,0,1,0">硕士&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="demand" value="0,0,1,0,0">本科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="demand" value="0,1,0,0,0">大专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="demand" value="1,0,0,0,0">中专/中技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="demand" value="0,0,0,0,1">高中</p>
                    <p style="font-size: 18px; padding: 20px 2px 0 20px;float: left">16.最期望的公司规模：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="guimo" value="0,0,0,0,1,0,0">20人以下&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="guimo" value="0,0,0,1,0,0,0">20-99人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="guimo" value="1,0,0,0,0,0,0">100-299人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="guimo" value="0,0,0,0,0,1,0">300-499人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="guimo" value="0,0,0,0,0,0,1">500-999人&nbsp;&nbsp;
                    <input type="radio" name="guimo" value="0,1,0,0,0,0,0">1000-9999人
                    <input type="radio" name="guimo" value="0,0,1,0,0,0,0">10000人以上</p>
                    <input type="submit" value="点击体验" style="color: black; font-size: 18px;background-color: deepskyblue; width: 100px;height: 34px;border: none;float: left;margin-left: 350px;
    margin-top: 35px;"/>
                </form>

                {% if message %}
                    <script>

                        alert('{{ message }}');

                    </script>

                 {% endif %}


			</div>
    </div>

    </div>
</div>

</body>
</html>